<header class="site-header">
  <div class="logo">
    <h1 routerLink="/">Royal Pizza 🍕</h1>
  </div>

  <nav class="main-nav">
    <a routerLink="/" routerLinkActive="active">Accueil</a>
    <a routerLink="/menu" routerLinkActive="active">Menu</a>

    @if (isLoggedIn()) {
      @if (isAdmin()) {
        <a routerLink="/ingredients" routerLinkActive="active">Ingrédients</a>
      }

      <a routerLink="/invoices" routerLinkActive="active">Mes Factures</a>
      
      <a routerLink="/basket" 
         routerLinkActive="active"
         [matBadge]="countItems() > 0 ? countItems() : null" 
         matBadgeColor="warn">
         Panier
      </a>

      <a routerLink="/settings" routerLinkActive="active">Paramètres</a>
      <a (click)="logout()" class="logout-link">Déconnexion</a>

    } @else {
      <a routerLink="/login" routerLinkActive="active">Connexion</a>
      <a routerLink="/signup" routerLinkActive="active">Inscription</a>
    }
  </nav>
</header>