<header class="site-header">
  <div class="logo">
    <h1>Royal Pizza 🍕</h1>
  </div>

  <nav class="main-nav">
    <a routerLink="/">Accueil</a>
    <a routerLink="/menu">Menu</a>

    <!-- Si connecté et Admin -->
    <ng-container *ngIf="isLoggedIn && isAdmin">
      <a routerLink="/customers">Clients</a>
      <a routerLink="/ingredients">Ingrédients</a>
    </ng-container>

    <!-- Si connecté -->
    <ng-container *ngIf="isLoggedIn">
      <a routerLink="/invoices">Mes Factures</a>
      <a routerLink="/basket">Panier</a>
      <a routerLink="/settings">Paramètres</a>
      <a (click)="logout()">Déconnexion</a>
    </ng-container>

    <!-- Si non connecté -->
    <ng-container *ngIf="!isLoggedIn">
      <a routerLink="/login">Connexion</a>
      <a routerLink="/signup">Inscription</a>
    </ng-container>
  </nav>
</header>