<div *ngIf="!isEmptyBasket()" class="order-container">
  <div *ngFor="let pizza of orders | keyvalue">
    <h3>{{ pizza.key }}</h3>
    <ul>
      <li *ngFor="let line of pizza.value" class="line-item">
        <div class="line-details">
          Taille : {{ line.nameSize }}<br>
          <em>Quantité : {{ line.quantity }} x {{ line.price }}€</em>
        </div>
        <div class="line-price">
          {{ roundPrice(line.quantity * line.price) }}€
        </div>
        <div class="line-actions">
          <button mat-flat-button color="warn" (click)="removeFromBasket(pizza.key, line.nameSize)">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="addToBasket(pizza.key, line.nameSize, line.price)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </li>
    </ul>
  </div>
  <div class="order-total">
    Total : {{ calculateTotal() }}€
  </div>
  <div class="button-section">
    <button class="button" color="clear" (click)="clearBasket()">Vider le panier</button>
    <button class="button" color="order" (click)="sendOrder()">Passer la commande</button>
  </div>
</div>
<div *ngIf="isEmptyBasket()">
  <p>Votre panier est vide.</p>
</div>


