<div class="form-container">
  <h2>Changer le mot de passe</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nouveau MDP</label>
      <div class="password-wrapper">
        <input [type]="showNewPassword() ? 'text' : 'password'" formControlName="newPassword" />
        <span class="toggle-eye" (click)="toggleVisibility('new')">
          {{ showNewPassword() ? '👁️‍🗨️' : '👁️' }}
        </span>
      </div>
    </div>

    <div class="password-criteria">
      <small [class.valid]="passwordCriteria().length" [class.invalid]="!passwordCriteria().length">
        Minimum 8 caractères
      </small>
      <small [class.valid]="passwordCriteria().upper" [class.invalid]="!passwordCriteria().upper">
        Contient une majuscule
      </small>
      <small [class.valid]="passwordCriteria().lower" [class.invalid]="!passwordCriteria().lower">
        Contient une minuscule
      </small>
      <small
        [class.valid]="passwordCriteria().special"
        [class.invalid]="!passwordCriteria().special"
      >
        Contient un caractère spécial (!@#$%^&.*)
      </small>
    </div>

    @if (submitted() && form.get('newPassword')?.errors) {
      <div class="error">
        @if (form.get('newPassword')?.hasError('required')) {
          <small>Le mot de passe est requis.</small>
        }
        @if (form.get('newPassword')?.hasError('weakPassword')) {
          <small>Mot de passe trop faible.</small>
        }
      </div>
    }

    <div class="form-group">
      <label>Confirmer</label>
      <div class="password-wrapper">
        <input
          [type]="showConfirmPassword() ? 'text' : 'password'"
          formControlName="confirmPassword"
        />
        <span class="toggle-eye" (click)="toggleVisibility('confirm')">
          {{ showConfirmPassword() ? '👁️‍🗨️' : '👁️' }}
        </span>
      </div>
    </div>

    @if (submitted() && (form.get('confirmPassword')?.errors || form.errors?.['mismatch'])) {
      <div class="error">
        @if (form.get('confirmPassword')?.hasError('required')) {
          <small>Confirmation requise.</small>
        }
        @if (form.hasError('mismatch')) {
          <small>Les mots de passe ne correspondent pas.</small>
        }
      </div>
    }

    <button type="submit">Mettre à jour</button>
  </form>
</div>

@if (submitted()) {
  <div class="submission-message">
    @if (success()) {
      <div class="success-message">🎉 Mot de passe mis à jour !</div>
    }
    @if (error()) {
      <div class="error-message">❌ Erreur : {{ error() }}</div>
    }
  </div>
}
