<div *ngIf="pizzas && pizzas.length > 0" class="menu">
  <h2>Notre menu de pizzas</h2>
  <div class="pizza-list">
    <div *ngFor="let pizza of pizzas" class="pizza-card">
      <h3>{{ pizza.namePizza }}</h3>
      <p>Prix : {{ pizza.pricePizza['Medium'] | currency:'EUR' }}</p>
      <img *ngIf="pizza.image" [src]="'data:image/jpeg;base64,' + pizza.image" alt="{{ pizza.namePizza }}">
      <button class="details-btn" (click)="goToPizza(pizza.namePizza)">
        Voir détails
      </button>
    </div>
  </div>
</div>
<div *ngIf="!pizzas || pizzas.length === 0">
  <p>Aucune pizza disponible pour le moment. Veuillez revenir plus tard.</p>
</div>
