.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
  background-color: var(--main-yellow);
}

.site-header .logo h1 {
  margin: 0;
  color: var(--main-red);
}

.main-nav a {
  margin-left: 1rem;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.main-nav a:hover {
  color: #e63946;
}