.home-container {
  background-color: #e0850f;  /* ton orange */
  flex: 1;                     /* prend tout l'espace du main-container */
  display: flex;
  flex-direction: column;
  justify-content: center;     /* centre verticalement le contenu */
  align-items: center;         /* centre horizontalement */
  font-family: Arial, sans-serif;
  padding: 50px 20px;          /* espace autour du contenu */
}

.home-container h1 {
  color: #e63946;
  font-size: 2.5rem;
}

.home-container p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.home-container img {
  width: 200px;        
  height: auto;
  border-radius: 20px;
  margin-top: 20px;
}

.home-container h1 {
  color: #e63946;
  font-size: 2.5rem;
}

.home-container p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.home-container img {
  width: 200px;        
  height: auto;
  border-radius: 20px;
  margin-top: 20px;
}
